<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Administration :: Users</title>

    <th:block th:replace="/fragments/script_style::main_style"></th:block>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.9.359/pdf.min.js"></script>
    <style>
        .title-nav:hover {
            color: #2061c3;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body class="vertical  light  ">
<div class="wrapper">

    <!-- Navigation -->
    <th:block th:replace="/fragments/admin/top_navbar::topnav(${userInfo.getImage()})"></th:block>

    <!-- Sidebar Left Panel -->
    <th:block th:replace="/fragments/admin/sidebar_left_panel::sidebar_left_panel"></th:block>

    <!-- Main Window -->
    <main role="main" class="main-content">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-12">
                    <div class="col-md-12 row justify-content-between mb-5 align-items-center mx-0">
                        <div class="text-center">
                            <h2 class=" page-title ml-2" th:text="${user.getEmail()}"></h2>
                        </div>
                        <div class="form-group row col-2 justify-content-between ">
                            <div class="text-center">
                                <label style="font-size: 16px" class="font-weight-bolder" for="window">Scale: </label>
                            </div>
                            <div>
                                <select class="form-control" name="window" id="window" onchange="handleSelectChange()">
                                    <option value="2">200 %</option>
                                    <option value="1.5">150 %</option>
                                    <option value="1" selected>100 %</option>
                                    <option value="0.5">50 %</option>
                                    <option value="0.25">25 %</option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row justify-content-around">
                        <h4 onclick="viewerPdf(1)" class="mb-2 page-title mb-5 ml-3 title-nav">Application</h4>
                        <h4 onclick="viewerPdf(2)" class="mb-2 page-title mb-5 ml-3 title-nav">Bachelor Diploma</h4>
                        <h4 onclick="viewerPdf(3)" class="mb-2 page-title mb-5 ml-3 title-nav">Transcript</h4>
                        <h4 onclick="viewerPdf(4)" class="mb-2 page-title mb-5 ml-3 title-nav">Recommendation Letter</h4>
                        <h4 onclick="viewerPdf(5)" class="mb-2 page-title mb-5 ml-3 title-nav">CV or Resume</h4>
                        <h4 onclick="viewerPdf(6)" class="mb-2 page-title mb-5 ml-3 title-nav">Portfolio</h4>
                    </div>

                    <hr>

                    <div>
                        <div class="col-10" id="pdfViewer"></div>
                    </div>


                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->
        <div class="modal fade modal-notif modal-slide" tabindex="-1" role="dialog" aria-labelledby="defaultModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="defaultModalLabel">Notifications</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="list-group list-group-flush my-n3">
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-box fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Package has uploaded successfull</strong></small>
                                        <div class="my-0 text-muted small">Package is zipped and uploaded</div>
                                        <small class="badge badge-pill badge-light text-muted">1m ago</small>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-download fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Widgets are updated successfull</strong></small>
                                        <div class="my-0 text-muted small">Just create new layout Index, form, table</div>
                                        <small class="badge badge-pill badge-light text-muted">2m ago</small>
                                    </div>
                                </div>
                            </div>
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-inbox fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Notifications have been sent</strong></small>
                                        <div class="my-0 text-muted small">Fusce dapibus, tellus ac cursus commodo</div>
                                        <small class="badge badge-pill badge-light text-muted">30m ago</small>
                                    </div>
                                </div> <!-- / .row -->
                            </div>
                            <div class="list-group-item bg-transparent">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <span class="fe fe-link fe-24"></span>
                                    </div>
                                    <div class="col">
                                        <small><strong>Link was attached to menu</strong></small>
                                        <div class="my-0 text-muted small">New layout has been attached to the menu</div>
                                        <small class="badge badge-pill badge-light text-muted">1h ago</small>
                                    </div>
                                </div>
                            </div> <!-- / .row -->
                        </div> <!-- / .list-group -->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Clear All</button>
                    </div>

                </div> <!-- .col-12 -->
            </div> <!-- .row -->
        </div> <!-- .container-fluid -->

    </main> <!-- main -->

</div> <!-- .wrapper -->

<th:block th:replace="/fragments/script_style::main_script"></th:block>

<!--<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>-->

<th:block th:replace="/fragments/script_style::script_secondery"></th:block>

<script th:inline="javascript">

    let sc = 1.0;

    function handleSelectChange() {
        let selectElement = document.getElementById("window");
        sc = selectElement.value;
        console.log(selectElement.value)
    }

    let data = {
        'pdfUrl1' : '/upload_files/' + [[${user.getEmail()}]] + '/' + [[${document.getApplicationPath()}]],
        'pdfUrl2' : '/upload_files/' + [[${user.getEmail()}]] + '/' + [[${document.getBachelorDiplomaPath()}]],
        'pdfUrl3' : '/upload_files/' + [[${user.getEmail()}]] + '/' + [[${document.getTranscriptPath()}]],
        'pdfUrl4' : '/upload_files/' + [[${user.getEmail()}]] + '/' + [[${document.getRecommendationLetterPath()}]],
        'pdfUrl5' : '/upload_files/' + [[${user.getEmail()}]] + '/' + [[${document.getCVResumePath()}]],
        'pdfUrl6' : '/upload_files/' + [[${user.getEmail()}]] + '/' + [[${document.getPortfolioPath()}]]
    }

    function viewerPdf(num) {
        let pdfViewer = document.getElementById('pdfViewer');
        pdfViewer.textContent = null;
        pdfjsLib.getDocument(data['pdfUrl' + num]).promise.then(function (pdf) {
            for (i = 1; i <= pdf.numPages; i++) {
                pdf.getPage(i).then(function (page) {
                    const canvas = document.createElement('canvas');
                    const context = canvas.getContext('2d');
                    const viewport = page.getViewport({scale: sc});
                    canvas.width = viewport.width;
                    canvas.height = viewport.height;
                    pdfViewer.appendChild(canvas);
                    page.render({canvasContext: context, viewport: viewport});
                });
            }
        });
    }


</script>

</body>
</html>