<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="favicon.ico">
  <title>КТМУ</title>

  <th:block th:replace="/fragments/script_style::main_style"></th:block>

</head>
<body class="light">

<div class="wrapper vh-100">
  <div class="align-items-center h-100 d-flex w-50 mx-auto">
    <div class="mx-auto text-center">
      <h1 class="display-1 m-0 font-weight-bolder text-muted" style="font-size:80px;">404</h1>
      <h1 class="mb-1 text-muted font-weight-bold">OOPS!</h1>
      <h6 class="mb-3 text-muted">The page could not be found.</h6>
      <a th:if="${admin}" th:href="@{/admin}" class="btn btn-lg btn-primary px-5">Back to Home</a>
      <a th:if="${rector}" th:href="@{/rector}" class="btn btn-lg btn-primary px-5">Back to Home</a>
      <a th:if="${teacher}" th:href="@{/teachers}" class="btn btn-lg btn-primary px-5">Back to Home</a>
      <a th:if="${student}" th:href="@{/}" class="btn btn-lg btn-primary px-5">Back to Home</a>
    </div>
  </div>
</div>

<th:block th:replace="/fragments/script_style::main_script"></th:block>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];

  function gtag()
  {
    dataLayer.push(arguments);
  }
  gtag('js', new Date());
  gtag('config', 'UA-56159088-1');
</script>
</body>
</html>