<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <th:block th:fragment="topnav(image)">
        <nav class="topnav navbar navbar-light">
<!--            <button type="button" class="navbar-toggler text-muted mt-2 p-0 mr-3 collapseSidebar">-->
<!--                <i class="fe fe-menu navbar-toggler-icon"></i>-->
<!--            </button>-->
            <form class="form-inline mr-auto searchform text-muted">
                <input class="form-control mr-sm-2 bg-transparent border-0 pl-4 text-muted" type="search" placeholder="Search..." aria-label="Search">
            </form>
            <ul class="nav">

<!--                <li class="nav-item">-->
<!--                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-shortcut">-->
<!--                        <span class="fe fe-grid fe-16"></span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item nav-notif">-->
<!--                    <a class="nav-link text-muted my-2" href="./#" data-toggle="modal" data-target=".modal-notif">-->
<!--                        <span class="fe fe-bell fe-16"></span>-->
<!--                        <span class="dot dot-md bg-success"></span>-->
<!--                    </a>-->
<!--                </li>-->

                <li class="nav-item">
                    <a class="nav-link text-muted pr-0" th:href="@{/rector/profile}" id="navbarDropdownMenuLink">
                        <span class="avatar avatar-sm mt-2">
                            <img th:if="${image == null || image.isEmpty()}" style="width: 50px; height: 50px;" th:src="@{/assets/avatars/default/profile-circle.svg}" alt="..." class="avatar-img rounded-circle">
                            <img th:unless="${image == null || image.isEmpty()}" style="width: 50px; height: 50px;" th:src="@{'/upload_files' + ${image}}" alt="..." class="avatar-img rounded-circle">
                        </span>
                    </a>
                </li>
            </ul>
        </nav>
    </th:block>
</body>
</html>